{% extends 'base.html' %}

{% block body1 %}

<link rel="stylesheet" href="http://bootstraptema.ru/snippets/slider/2016/cbpFWSlider/cbpFWSlider.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://bootstraptema.ru/snippets/slider/2016/cbpFWSlider/cbpFWSlider.min.js"></script>

<br><br><br>
<div class="container-fluid">
    <div class="row">
    {% load static %}
        <div class="col-xs-12">
            <div id="cbp-fwslider" class="cbp-fwslider">
               <ul>
                   <li><a href="{% url 'books_url' %}"><img src="{% static "images/addbook.jpg" %}"  style="  border-radius: 10%" alt="image 1"/></a></li>
                   <li><a href="{% url 'reader_url' %}"><img src="{% static "images/readers.jpg" %}"  style="  border-radius: 10%" alt="image 2"/></a></li>
               </ul>
            </div>
        </div>
    </div>
</div>

<script>
$( function() {
$( '#cbp-fwslider' ).cbpFWSlider();
});
</script>
{% endblock %}
